<div id="stars-component">
    <p>
        <label for="radioStarsField0">
            <input id="radioStarsField0" type="radio" value="0" class="radic" name="radioStarsField" #radioStarsField0
                   (keyup)="select(radioStarsField0.value)" [formControl]="radioStarsField"/>
            <strong>Todas las estrellas</strong>
        </label>
    </p>
    <p>
        <label for="radioStarsField1">
            <input id="radioStarsField1" type="radio" value="5" name="radioStarsField" #radioStarsField1
                   (keyup)="select(radioStarsField1.value)" [formControl]="radioStarsField"/>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
        </label>
    </p>
    <p>
        <label for="radioStarsField2">
            <input id="radioStarsField2" type="radio" value="4" name="radioStarsField" #radioStarsField2
                   (keyup)="select(radioStarsField2.value)" [formControl]="radioStarsField"/>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
        </label>
    </p>
    <p>
        <label for="radioStarsField3">
            <input id="radioStarsField3" type="radio" value="3" name="radioStarsField" #radioStarsField3
                   (keyup)="select(radioStarsField3.value)" [formControl]="radioStarsField"/>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
        </label>
    </p>
    <p>
        <label for="radioStarsField4">
            <input id="radioStarsField4" type="radio" value="2" name="radioStarsField" #radioStarsField4
                   (keyup)="select(radioStarsField4.value)" [formControl]="radioStarsField"/>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
        </label>
    </p>
    <p>
        <label for="radioStarsField5">
            <input id="radioStarsField5" type="radio" value="1" name="radioStarsField" #radioStarsField5
                   (keyup)="select(radioStarsField5.value)" [formControl]="radioStarsField"/>
            <div class="stars" aria-label="star" [inlineSVG]="'icons/filters/star.svg'"></div>
        </label>
    </p>
</div>
