#logo {
    background-color: #144382;
    border-bottom: 2px #627EA4 solid;
    margin: 0;
    padding: 70px 0 0 0;
    overflow: hidden;
    background-image: url("/assets/images/logo-almundo.svg");
    background-position-x: 20px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    height: 0px !important;
    height:70px;
}